// HERO CAROUSEL
// -----------------------------------------------------------------------------
//
// Purpose: Styles the hero carousel component, which basically adds extras to the
// vendor slick carousel, to specifically display hero images.
//
// 1. Use object-fit on the image tag to keep aspect ratio and cover the space
//    created by the outer div. The JS will detect browsers that do not support
//    object-fit and instead copy the image src to a the background-image of the
//    wrapper div and add the compat-object-fit class.
//
// 2. Visually overrides the top margin for '.body' defined in _body.scss.
//    The '.body' top margin creates space between the header and page content.
//    However, on the homepage, we want the carousel to be flush with the header.
//
// 3. Allows image to scale on large screens while preventing the top and bottom
//    from becoming cut off.
// -----------------------------------------------------------------------------
.heroCarousel-wrapper{
    position: relative;
}

.heroCarousel {
    width: 1px;
    min-width: 100%;
    white-space: nowrap;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;

    &.slick-dotted{
        margin-bottom: 0;
    }

    &.slick-initialized {
        max-height: 970px;
        opacity: 1;
    }

    &:not(.slick-initialized) :not(.heroCarousel-slide--first).heroCarousel-slide {
        display: none;
    }

    .slick-arrow{
        width: 72px;
        height: 72px;
        padding: 17px;
        border-radius: 50%;
        fill: stencilColor('carousel-arrow-color');
        stroke: stencilColor('carousel-arrow-color');
        border: 2px solid stencilColor('carousel-arrow-color');
        transition: $anchor-transition;
        background-color: transparent;
        visibility: hidden;
        opacity: 0;
        cursor: pointer;

        &:before {
            content: none;
        }

        &.slick-prev {
            left: 15px;
        }

        &.slick-next {
            right: 15px;
        }

        &.slick-disabled{
            opacity: 0.5!important;
            cursor: default;
        }

        &:hover {
            fill: stencilColor('carousel-arrow-color');
            stroke: stencilColor('carousel-arrow-color');
        }
    }

    .slick-dots {
        left: 0;
        right: 0;
        bottom: 10px;

        li {
           padding: 0;
            width: auto;
            height: auto;
            vertical-align: middle;
            margin: 0 10px;

            button{
                font-size: 0;
                background-color: transparent;
                border-color: $slick-dot-bgColor;
                opacity: 1;
                width: 10px;
                height: 10px;
                border-radius: 50%;

                &:before{
                    display: none;
                }
            }

            &.slick-active{
                button{
                    border-color: $slick-dot-bgColor;
                    background-color: $slick-dot-bgColor;
                }
            }
        }
    }

    .slick-slide {
        .heroCarousel-subtitle{
            visibility: hidden;
            animation-delay: 0ms;
            animation-name: fadeOutDown;
        }

        .heroCarousel-title {
            visibility: hidden;
            animation-delay: 0ms;
            animation-name: fadeOutDown;
        }

        .heroCarousel-description {
            visibility: hidden;
            animation-delay: 0ms;
            animation-name: fadeOutDown;
        }

        .heroCarousel-customLink {
            visibility: hidden;
            animation-delay: 0ms;
            animation-name: fadeOutDown;
        }

        .heroCarousel-countdown {
            visibility: hidden;
            animation-delay: 0ms;
            animation-name: fadeOutDown;
        }

        .heroCarousel-action {
            visibility: hidden;
            animation-delay: 0ms;
            animation-name: fadeOutDown;
        }
    }

    .slick-current {
        .heroCarousel-subtitle{
            visibility: visible;
            animation-delay: 50ms;
            animation-name: fadeInUp;
        }

        .heroCarousel-title {
            visibility: visible;
            animation-delay: 100ms;
            animation-name: fadeInUp;
        }

        .heroCarousel-description {
            visibility: visible;
            animation-delay: 150ms;
            animation-name: fadeInUp;
        }

        .heroCarousel-customLink {
            visibility: visible;
            animation-delay: 200ms;
            animation-name: fadeInUp;
        }

        .heroCarousel-countdown {
            visibility: visible;
            animation-delay: 250ms;
            animation-name: fadeInUp;
        }

        .heroCarousel-action {
            visibility: visible;
            animation-delay: 300ms;
            animation-name: fadeInUp;
        }
    }

    @media (min-width: 768px){
        overflow: hidden;
    }

    @media (min-width: 1025px){
        .slick-dots{
            bottom: 30px;

            li {
                margin-left: 14px;
                margin-right: 14px;
            }
        }

        .slick-arrow{            
            
            &.slick-next {
                right: 60px;
            }

            &.slick-prev {
                left: 60px;
            }
        }

        &:hover{
            .slick-arrow{
                visibility: visible;
                opacity: 1;
            }
        }
    }

    @media (min-width: 1600px){
        .slick-dots{
            bottom: 43px;
        }
    }
}

.heroCarousel-slide {
    position: relative;

    .heroCarousel-image {
        // min-height: stencilString("homepage_show_carousel_height_mobile");
        // object-fit: cover;
        object-fit: contain;
        display: block;
        position: relative;
        img{
            object-fit: contain;

            &.lazyload,
            &.lazyloading{
                width: 100%;
                height: 100%;
                margin: 0 auto;
                object-fit: scale-down;
            }            
        }
        // @media (min-width: 551px) {
        //     min-height: stencilString("homepage_show_carousel_height_mobile");
        //     img {
        //         min-height: stencilString("homepage_show_carousel_height_mobile");
        //     }
        // }
    }

    .content-wrap {
        color: #fff;
        display: flex;
        align-items: center;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 65%;
        height: 100%;
        padding-left: 1.5rem;
        font-family: 'Roboto', sans-serif;
        .text-main {
            font-weight: 500;
            font-size: 24px;
        }
        .text-small {
            font-size: 15px;
            margin: 3px 0 10px;
            white-space: pre-line;
            font-style: normal;
            font-weight: 300;
        }
        .text-link {            
            padding: 5px 10px;            
            display: block;
            border: 1px solid #fff;
            border-radius: 3px;
            color: #fff;
            font-size: 13px;
            display: initial;
        }
        &.right {
            padding-left: 40%;
            padding-right: 1.5rem;
            width: 100%;
            color: #C81616;
            .text-main {
                white-space: pre-line;
                line-height: 26px;
            }
            .text-small {
                font-weight: 400;
                &.pc {
                    display: none;
                }
                &.tablet {
                    display: none;
                }
            }
            .text-link {
                display: none;
            }
        }
        @media (max-width: 389px) {
            .text-small {
                display: none;
            }
        }
        @media (min-width: 600px) {
            width: 50%;
            padding-left: 3rem;
            &.right {
                padding-right: 3rem;
                padding-left: 45%;
            }
        }
        @media (min-width: 700px) {            
            .text-main {
                font-size: 30px;
            }
            .text-link {
                font-size: 15px;
            }
            &.right {
                .text-main {
                    line-height: 30px;
                }
                .text-small {
                    margin-top: 10px;
                    &.mobile {
                        display: none;
                    }
                    &.tablet {
                        display: block;
                    }
                }
            }
        }
        @media (min-width: 780px) {
            .text-main {
                font-size: 35px;
            }
            .text-small {
                font-size: 16px;
                margin: 5px 0 15px;
            }
            .text-link {
                font-size: 16px;
                padding: 8px 15px;
            }
            &.right {
                .text-main {
                    line-height: 35px;
                }
            }
        }
        @media (min-width: 850px) {
            width: 400px;
            .text-main {
                font-size: 45px;
            }
            .text-small, .text-link {
                font-size: 18px;
            }
            &.right {
                .text-main {
                    font-size: 35px;                    
                }                
            }
        }
        @media (min-width: 900px) {
            &.right {
                padding-left: 50%;
            }
        }
        @media (min-width: 990px) {
            .text-main {
                font-size: 55px;
            }
            .text-small {
                font-size: 20px;
                margin-bottom: 20px;
            }
            &.right {
                .text-main {
                    font-size: 40px;                    
                    line-height: 40px;
                }
                .text-small {
                    font-size: 18px;     
                    margin-top: 20px;               
                }
            }
        }
        @media (min-width:1281px) {
            padding-left: 60px;
            .text-main {
                font-size: 80px;
            }
            .text-small {                
                margin-bottom: 33px;           
            }
            .text-link {
                font-size: 20px;
                padding: 8px 23px;
            }
            &.right {
                padding-right: 180px;    
                .text-main {
                    font-size: 43px;
                }
                .text-small {
                    font-size: 18px;
                }
                .text-link {
                    display: initial;
                    border-color: #C81616;
                    background-color: #C81616;
                    border-radius: 10px;
                    font-size: 16px;
                }
            }
        }
        @media (min-width:1457px) {
            &.right {
                .text-main {
                    font-size: 58px;
                    line-height: 58px;
                }
                .text-small { 
                    margin-top: 15px;                   
                    &.pc {
                        display: block;
                    }
                    &.tablet {
                        display: none;
                    }
                }
            }
        }
    }

    @media (min-width: 551px) {
        .heroCarousel-image {
            img{
                display: block;

                &.image-mobile{
                    display: none;
                }
            }
        }
    }

    @media (min-width: 551px) and (max-width: 767px){
        .heroCarousel-image {
            img{
                display: block;
            }
        }
    }
}
@font-face{font-family:"franklin-gothic-demi-cond-regular";src:url("/content/fonts/FranklinGothicDemiCondRegular.ttf") format("truetype");}
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@font-face{font-family:"Impact";src:url("/content/fonts/impact.ttf") format("truetype");}
.heroCarousel-content {
    position: absolute;
    background-color: stencilColor('carousel-bgColor');
    top: 50%;
    left: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 0 15px;
    transform: translateY(-50%);
    white-space: normal;
    margin: 0 auto;
    padding-bottom: 8px;
    &.heroCarousel-content--notEmpty{
        padding: 15px;
        max-width: 500px;
    }

    &.hr-content-coupon {
        display: grid;
        grid-template-columns: 65% 35%;        
        background-color: transparent;
        align-items: center;     
        max-width: 100%;      
        padding: 0;
        .left {
            .line1a {
                color: #000;
                border: 1px solid #000;
                padding: 3px 10px;
                font-size: 16px;
                width: max-content;
                margin: 0 auto 1rem;
                font-family: 'franklin-gothic-demi-cond-regular', sans-serif;
            }
            .line2a {
                display: none;
            }
            .line3a {
                color: #fe5900;
                font-size: 16px;
                font-family: 'impact', sans-serif;
                line-height: 13px;
            }
            .line4a {
                color: #000;
                font-size: 12px;
                font-family: 'impact', sans-serif;
            }
            .line5a {
                padding: 0 13px;
                background-color: #fe5900;
                color: #fafafa;
                border-radius: 12px;
                width: max-content;
                margin: .5rem auto 0;
                font-family: 'franklin-gothic-demi-cond-regular', sans-serif;
                font-size: 13px;                
                @include breakpoint(900px) {
                    display: none;
                }
            }
        }
        .right {
            padding: 0 1rem;
            .line1b {
                color: #fafafa;
                border-bottom: 1px solid #fafafa;
                font-size: 18px;
                font-family: 'Abril Fatface', cursive;
                letter-spacing: 0.5px;
            }
            .line2b {
                color: #fafafa;
                font-size: 40px;
                font-family: 'Abril Fatface', cursive;                
            }
            .line3b {
                display: none;
                font-family: 'Abril Fatface', cursive;
                color: #fafafa;
                border: 1px solid #fafafa;
                border-radius: 16px;
                width: max-content;
                padding: 0 15px;
                margin: 0 auto;                
            }            
            @include breakpoint(551px) {            
                padding: 0 15%;                
            }
            @include breakpoint(700px) {
                padding: 0 20% 0 15%;                
            }            
            @include breakpoint(900px) {
                padding: 0 40% 0 15%;
                .line3b {
                    display: block;
                }
            }
        }        
        @include breakpoint(400px) {
            .left {
                .line1a {
                    font-size: 20px;
                }
            }
            .right {
                padding: 0 1.5rem;
                .line1b {
                    font-size: 25px;
                }
                .line2b {
                    margin-top: -15px;
                    font-size: 50px;
                }
            }
        }
        @include breakpoint(475px) {
            grid-template-columns: 63% 37%;
        }
        @include breakpoint(480px) {
            .left {
                .line1a {
                    font-size: 26px;
                }
                .line3a {
                    font-size: 18px;
                    margin: 20px auto 5px;
                }
                .line4a {
                    font-size: 14px;
                }
            }
            .right {
                padding: 0 23%;
                .line1b {
                    font-size: 30px;
                }
                .line2b {
                    font-size: 60px;
                }
            }
        }
        @include breakpoint(551px) {
            .left {
                .line1a {
                    font-size: 23px;
                }
            }
        }
        @include breakpoint(600px) {
            .left {
                .line1a {
                    font-size: 36px;
                }
                .line3a {
                    font-size: 24px;
                }
                .line4a {
                    font-size: 16px;
                }
                .line5a {
                    font-size: 16px;
                }
            }
            .right {
                .line1b {
                    font-size: 35px;
                }
                .line2b {
                    font-size: 65px;
                }
            }
        }
        @include breakpoint(700px) {
            .left {
                .line1a {
                    font-size: 35px;
                }
                .line3a {
                    font-size: 30px;
                }
                .line4a {
                    font-size: 28px;
                }
                .line5a {
                    font-size: 20px;
                }
            }
            .right {
                .line1b {
                    font-size: 45px;
                }
                .line2b {
                    font-size: 80px;
                }
            }
        }
        @include breakpoint(800px) {
            .left {
                .line1a {
                    font-size: 40px;
                    font-weight: bold;
                }
                .line3a {
                    font-size: 40px;                    
                    margin: 30px auto 10px;
                }
                .line4a {
                    font-size: 30px;
                }
            }
            .right {
                .line2b {
                    font-size: 90px;
                    margin-top: -20px;
                }
            }
        }
        @include breakpoint(900px) {
            grid-template-columns: 59% 41%;
            .left {
                padding: 0 10%;    
                .line3a {
                    font-size: 35px;
                }
                .line4a {
                    font-size: 25px;
                }
            }
            .right {
                padding: 0 40% 0 15%;
                .line1b {
                    border-bottom: 0;
                }
                .line2b {                    
                    margin-top: -50px;                    
                    position: relative;
                    margin-bottom: 10px;
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 20px;
                        width: 100%;
                        height: 1px;
                        left: 0;
                        background-color: #fafafa;
                    }
                }
                .line3b {
                    font-size: 12px;
                }
            }
        }    
        @include breakpoint(940px) {
            .left {
                .line2a {
                    display: block;
                    max-width: 350px;
                    color: #000;
                    margin: 0 auto;
                    font-size: 13px;
                }
            }
            .right {
                .line2b {
                    font-size: 100px;
                }
            }
        }
        @include breakpoint(1040px) {
            .left {
                .line1a {
                    font-size: 50px;
                }
                .line2a {
                    max-width: 400px;
                }                
            }
            .right {
                .line3b {
                    font-size: 14px;
                }
            }
        }
        @include breakpoint(1100px) {
            .right {
                .line1b {
                    font-size: 55px;
                }
                .line2b {
                    font-size: 120px;
                }
            }
        }
        @include breakpoint(1200px) {
            .left {
                .line1a {
                    font-size: 60px;
                }
                .line2a {
                    max-width: 500px;
                    font-size: 17px;
                }
            }
            .right {
                .line3b {
                    font-size: 16px;
                }
            }
        }
        @include breakpoint(1420px) {
            .left {
                .line1a {
                    font-size: 65px;
                }
                .line2a {
                    margin-bottom: 24px;
                    max-width: 450px;
                }
                .line3a {
                    font-size: 50px;
                }
                .line4a {
                    font-size: 40px;
                }
            }
            .right {
                .line1b {
                    font-size: 80px;
                }
                .line2b {
                    font-size: 150px;
                }
                .line3b {
                    font-size: 20px;
                    border-radius: 30px;
                }
            }
        }
    }

    @media (min-width: 768px){
        right: unset;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media (min-width: 992px) {
        padding-left: 0;
        padding-right: 0;

        &.heroCarousel-content--empty {
            background-color: transparent;
        }
    }

    @media (min-width: 1025px){
        max-width: 450px;

        &.heroCarousel-content--left{
            left: 30px;
            text-align: left;
            transform: translateY(-50%);

            .heroCarousel-countdown{
                justify-content: flex-start;
            }
        }

        &.heroCarousel-content--center{
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &.heroCarousel-content--right{
            left: auto;
            right: 30px;
            text-align: right;
            transform: translateY(-50%);

            .heroCarousel-countdown{
                justify-content: flex-end;
            }
        }
    }

    @media (min-width: 1600px){
        &.heroCarousel-content--left{
            left: calc((100% - 1470px)/ 2);

            .home-layout-2 & {
                left: calc((100% - 1270px)/ 2);
            }
        }

        &.heroCarousel-content--right{
            right: calc((100% - 1470px)/ 2);

            .home-layout-2 & {
                right: calc((100% - 1270px)/ 2);
            }
        }
    }

    @media (min-width: 1920px){
        &.heroCarousel-content--left{
            left: calc((100% - 1570px)/ 2);
        }

        &.heroCarousel-content--right{
            right: calc((100% - 1570px)/ 2);
        }
    }
}

.heroCarousel-subtitle{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    color: $carousel-title-color;
    font-size: $fontSize-root - 2px;
    line-height: $fontSize-root + 6;
    line-height: 2;
    margin: 0 0 10px 0;
    position: relative;
    text-transform: uppercase;
    @media (min-width: 381px){
        margin-bottom: 15px;
    }
    @media (min-width: 1025px){
        margin-bottom: 18px;
    }
}

.heroCarousel-title {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    font-size: $fontSize-hero - 12px;
    font-weight: $fontWeight-normal;
    color: $carousel-title-color;
    letter-spacing: 0;
    line-height: 1.2;
    margin: 0 0 10px 0;

    .home-layout-2 & {
        font-weight: $fontWeight-bold;
    }

    @media (min-width: 321px){
        font-size: 30px;
    }
    @media (min-width: 381px){
        margin-bottom: 15px;
    }

    @media (min-width: 1025px){
        font-size: 36px;
        margin-bottom: 25px;

        .home-layout-2 & {
            margin-bottom: 17px;
        }
    }

    @media (min-width: 1600px){
        margin-bottom: 30px;

        .home-layout-2 & {
            font-size: 48px;
        }
    }

    @media (min-width: 1920px){
        font-size: $fontSize-hero;
    }
}

.heroCarousel-countdown{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0 15px 0;
    font-size: 18px;
    font-family: $fontFamily-headings;
    font-weight: $fontWeight-medium;
    line-height: $lineHeight-tiny;
    color: $carousel-description-color;

    .num{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        width: 50px;
        height: 50px;
        border: 1px solid $carousel-description-color;
        border-radius: 50%;
        text-align: center;

        span{
            display: block;
            width: 100%;
            font-size: $fontSize-root - 4px;
            font-family: $fontFamily-sans;
        }

        + .num{
            margin-left: 20px;
        }
    }

    @media (min-width: 551px){
        font-size: 20px;

        .num{
            width: 60px;
            height: 60px;
        }
    }

    @media (min-width: 992px){
        font-size: 22px;

        .num{
            width: 72px;
            height: 72px;

            span{
                font-size: $fontSize-root - 2px;
            }
        }
    }

    @media (min-width: 1025px){
        margin-bottom: 45px;

        font-size: 24px;

        .num{
            width: 75px;
            height: 75px;
        }
    }
}

.heroCarousel-description {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 10px 0;
    color: $carousel-description-color;
    @media (min-width: 381px) {
        margin-bottom: 15px;
    }
    @media (min-width: 1025px) {
        margin-bottom: 22px;

        .home-layout-2 & {
            margin-bottom: 17px;
        }
    }
    @media(min-width: 1280px) {
        .home-layout-2 & {
            max-width: 345px;
        }
    }
}

.heroCarousel-customLink{
    display: block;
    font-size: 0;
    letter-spacing: 0;
    margin: 0 0 10px 0;
    padding: 0;

    li{
        display: inline-block;
        vertical-align: top;
        font-size: $fontSize-root;

        a{
            display: block;
            padding: 10px;
            color: $carousel-description-color;
            line-height: $lineHeight-large;
            transition: unset;
        }

        span{
            display: inline-block;
            vertical-align: top;
            position: relative;

            &:before{
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                bottom: -1px;
                height: 1px;
                display: block;
                background: $carousel-description-color;
            }
        }
    }

    @media (min-width: 551px){
        li{
            a{
                padding: 0px 24px 15px 24px;
            }

            &:first-child{
                a{
                    padding-left: 0;
                }
            }
        }
    }

    @media (min-width: 1025px){
        li{
            &:hover{
                a{
                    color: $color-textLink-hover;
                }

                span{
                    &:before{
                        background: $color-textLink-hover;
                    }
                }
            }
        }
    }

    @media (min-width: 1600px){
        padding-bottom: 12px;
    }
}

.heroCarousel-action {
    margin: 10px 0 0 0;

    .button{
        min-width: 200px;

        &.button--large{
            min-width: 250px;
        }
        + .button{
            margin-top: 10px;
        }

        .home-layout-2 & {
            min-width: 180px;
        }
    }

    @media (min-width: 551px){
        margin: 18px 0 0 0;
        .button{
            + .button{
                margin-left: 30px;
                margin-top: 0;
            }
        }
    }
}

.heroCarousel-custom{
    position: absolute;
    top: 50%;
    left: auto;
    right: 15px;
    min-width: unset!important;
    width: 50px!important;
    transform: translateY(-50%);
    margin: 0!important;
    display: none!important;
    @include clearfix;

    .slick-dots{
        width: 50px;
        position: relative;
        top: unset;
        bottom: unset;
        left: unset;
        right: unset;

        li{
            padding: 0;
            width: 100%;
            height: auto;
            margin: 0;
            text-align: right;

            + li{
                margin-top: 15px;
            }
            .slick-dots-item {
                border: none;
                background: none;
                color: $carousel-description-color;
                border: none;
                background: none;
                width: auto;
                height: auto;
                font-size: $body-fontSize;
                line-height: $body-fontSize + 10;
                &:before{
                    content: '';
                    background: $carousel-description-color;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: -4px;
                    height: 1px;
                    display: none;
                    top: auto;
                }
            }
            &.slick-active {
                .slick-dots-item {
                    border: none;
                    background: none;
                    &:before{
                        display: block;
                    }
                }
            }
        }
    }

    @media (min-width: 551px){
        display: block!important;
    }

    @media (min-width: 1025px){
        right: 30px;

        &.heroCarousel-customRight{
            right: auto;
            left: 30px;
        }

        .slick-dots{
            li{
                + li{
                    margin-top: 30px;
                }
            }
        }
    }

    @media (min-width: 1600px){
        right: calc((100% - 1470px)/ 2);

        &.heroCarousel-customRight{
            left: calc((100% - 1470px)/ 2);
        }
    }

    @media (min-width: 1920px){
        right: calc((100% - 1570px)/ 2);

        &.heroCarousel-customRight{
            left: calc((100% - 1570px)/ 2);
        }
    }
}
