{{#if banner '==' 'home2-top-banners'}}
    {{> components/halothemes/home/halo-layout-banner find="halo_top2_banners"}}
    {{{region name="home_below_top_banners"}}}
{{/if}}

{{#if banner '==' 'home-top-brands'}}
    {{> components/halothemes/home/halo-layout-banner find="halo_top_brands"}}
    {{{region name="home_below_top_brands"}}}
{{/if}}

{{#if banner '==' 'home-top-banners'}}
    {{> components/halothemes/home/halo-layout-banner find="halo_top_banners"}}
    {{{region name="home_below_top_banners"}}}
{{/if}}

{{#if banner '==' 'home-middle-banners'}}
    {{> components/halothemes/home/halo-layout-banner find="halo_middle_banners"}}
    {{{region name="home_below_midlle_banners"}}}
{{/if}}

{{#if banner '==' 'home-middle-banners-2'}}
    {{> components/halothemes/home/halo-layout-banner find="halo_middle_parralax_banners"}}
    {{{region name="home_below_midlle_banners"}}}
{{/if}}

{{#if banner '==' 'home-parallax-banners'}}
    {{> components/halothemes/home/halo-layout-banner find="halo_parralax_banners"}}
    {{{region name="home_below_midlle_banners"}}}
{{/if}}

{{#if banner '==' 'home-bottom-banners'}}
    {{> components/halothemes/home/halo-layout-banner find="halo_bottom_banners"}}
    {{{region name="home_below_bottom_banners"}}}
{{/if}}

{{#if banner '==' 'home2-bottom-banners'}}
    {{> components/halothemes/home/halo-layout-banner find="home2_bottom_banners"}}
    {{{region name="home_below_bottom_banners"}}}
{{/if}}

{{#if banner '==' 'home-faqs-block'}}
    {{> components/halothemes/home/halo-layout-banner find="halo_short_faqs"}}
    {{{region name="home_below_faqs_block"}}}
{{/if}}

{{#if banner '==' 'home-instagram'}}
    {{> components/halothemes/home/halo-layout-banner find="halo_instagram"}}
    {{{region name="home_below_instagram"}}}
{{/if}}

